@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

body {
  width: 100%;
  height: auto;
}

.medSpacer {
  height: 45%;
}

.smSpacer {
  height: 5%;
}

.home {
  height: 500px;
  background: url(http://i1262.photobucket.com/albums/ii617/hiawassee041/landscape-mountains-nature-sky_zpspj5uumuh.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#quote {
  font-size: 40px;
  color: #FFFFFF;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#intro {
  font-size: 26px;
  color: #FFFFFF;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.homefont {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.about {
  height: 60%;
  height: 500px;
  height: auto;
  background-color: #C0C0C0;
}

#welcome {
  font-size: 50px;
  color: #000000;
}

#aboutmetext {
  font-size: 18px;
  color: #000000;
  margin: 5px 35px 10px 35px;
  padding: 40px;
  border-style: solid;
  border-width: 2px;
}

.bodyfont {
  font: Arial, sans-serif;
}

.portfolio {
  background-color: #2a381b;
}

#portfoliotext {
  font-size: 50px;
  color: #FFFFFF;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.project {
  margin: 5px, 20px, 20px, 10px;
  color: #FFFFFF;
  font: Courier, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}

.contact {
  background-color: #C0C0C0;
}

#contactme {
  font-size: 50px;
  color: #000000;
}

.contactlogos {
  height: 50%;
  width: 50%;
}

.contactlogos img {
  margin-left: 3%;
}
