body {
  background: black;
}

.frame {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 6%;
  width: 800px;
  height: 1400px;

}

h2 {
  color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

li {
  color: white;
}

.list {
  font-family: Tahoma;
  font-size: 14px;
  margin: auto;
  margin-left: 100px;
}

.joblist {
  height: 540px;
}

.listitems {
  float: left;
}

.debtlist {
  height: 250px;
}

.listbump {
  margin-left: 100px;
}

.houselist {
  height: 270px;
}

.bar {
  margin: auto;
  width: 85%;
}

.meter {
  height: 20px;
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
